

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 50px;
    width: 70%;
    text-align: center;

}
.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.hero-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
    width: 70%;
    margin: 0 auto;
}

.hero {
    background-color: #1F2937;
    min-height: 580px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}

p, a {
    font-size: 18px;
    color: #E5E7EB;
}



img {
    width: 500px;
    height: auto;
    padding: 16px;
    box-sizing: border-box;
}
.left-hero {
    box-sizing: border-box;
    width: 500px;
    padding: 16px;
    height: 342px;
}
button {
    background-color: #3882F6;
    padding: 8px 32px;
    text-decoration: none;
    border: none; 
    outline: none;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    display: block;
}
button:hover {
    background-color: #2a62bb;
    transition: 0.3s;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 50px;
}

.info {
    width: 300px;
}

.more-info {
    min-height: 600px;
    padding-bottom: 25px;
}

.info img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    padding: 0;
    border: 5px solid rgba(44, 44, 44, 0.664);;
}

.text {
    text-align: center;
    width: 300px;
    font-size: 24px;
    border: 1px solid black;
    box-shadow: 10px 5px 5px rgba(44, 44, 44, 0.664);
}

.quote-section {
    background-color: #E5E7EB;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}
blockquote p {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

.quote-container {
    width: 70%;
}

figcaption {
    text-align: end;
    margin-right: 6em;
}
.signup-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #3882F6;
    color: #E5E7EB;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px 200px;
    width: 50%;
    
}
.signup {
    width: 300px;
}
.signup-text {
    text-align: left;
}
.call {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
}
footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 25px 0px;
}

.signup-section button {
    border: 2px solid white;
}