body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    color: black;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    
}

.hero-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    background-color: #1F2937;
}

.hero-main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;

}

p, a {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

img {
    width: 500px;
    height: auto;
}
.left-hero {
    width: 500px;
}